# Computer + IDE Stuff
/**/.DS_Store
/**/.vscode/
/**/.idea/

# Backup files
/**/*.bak

# secret
/**/secrets/*
/**/*.crt
/**/*.key
/**/*.pem
/**/*.token

# env
/**/*.env*

# Logs
logs/*
/**/*.log*

# Nodejs
/**/node_modules
/**/dist
/**/.tsbuildinfo
/**/.eslintcache

# Database
/**/data/*
/**/db
/**/*.sqlite
/**/*.sqlite3
/**/*.db
/**/*.db3
/**/*.s3db
