@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-bg: oklch(var(--bg));
	--color-fg: oklch(var(--fg));
	--color-primary: oklch(var(--primary));
	--color-secondary: oklch(var(--secondary));
	--color-tertiary: oklch(var(--tertiary));
}

:root {
	--bg: 0 0 0;
	--fg: 0 0 0;
	--primary: 0 0 0;
	--secondary: 0 0 0;
	--tertiary: 0 0 0;
}

[data-theme='dark'] {
	--bg: 0 0 0;
	--fg: 0 0 0;
	--primary: 0 0 0;
	--secondary: 0 0 0;
	--tertiary: 0 0 0;
}
