name: Build & Deploy project to Github Pages when push in 'master' branch
on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/actions/build.yml

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
